body {
    text-align: center;
    background: #ffffff;
}

.linepage {
    height: 6px;
    background-color: aqua;
    width: 70px;
    margin: 8px auto;
}

.movie-header{
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 25px;
}
